<template>
    <div id="dataTableComponent">
        <!-- <code>query: {{ query }}</code> -->
        <datatable v-bind="$data" />
    </div>
</template>

<script>
import axios from 'axios';
export default {
    name: "dataTableComponent",
    data: function() {
        return {
            columns: [
                { title: 'Nombre(s)', field: 'name', sortable: true },
                { title: 'Apellido(s)', field: 'lName', sortable: true },
                { title: 'Email', field: 'email', sortable: true },
                { title: 'Puesto', field: 'jobTitle', sortable: true },
                { title: 'Organización', field: 'organization', sortable: true }
            ],
            data: [], // no data
            total: 0,
            query: {},
            "tbl-class" : "table is-fullwidth is-striped is-transparent is-narrow",
            HeaderSettings: false,
        }
    },
    watch: {
        query: {
            handler () {
                this.handleQueryChange()
            },
            deep: true
        }
    },
    methods : {
        handleQueryChange() {
            var vm = this;
            axios.get('/admin/all-users', { params: this.query })
                .then(function( response ) {
                    vm.data = response.data;
                });

            axios.get('/admin/total-users')
                .then(function( response ) {
                    vm.total = response.data;
                });
        },
    }
};
</script>
