<template>
    <div id="dataTableResults" style="overflow-x:auto;">
        <code>query: {{ query }}</code>
        <datatable v-bind="$data" />
    </div>
</template>

<style>
    .narrow-column {
        font-size: 12px;
    }
</style>

<script>
import axios from 'axios';
import tdOpt from './td-Opt.vue';
import nestedDisplayRow from './nested-DisplayRow.vue';

export default {
    components: {
        tdOpt: tdOpt,
        nestedDisplayRow: nestedDisplayRow,
    },
    name: "dataTableResults",
    data: function() {
        // console.log(tdOpt);
        const amINestedComp = !!this.row;
        return {
            columns: [
                { title: 'Nombre(s)', field: 'name'},
                { title: 'Apellido(s)', field: 'lName' },
                { title: 'Email', field: 'email'},
                { title: 'Puesto', field: 'jobTitle' },
                { title: 'Organización', field: 'organization' },

                // { title: 'Nombre(s)', field: 'name'},
                // { title: 'Apellido(s)', field: 'lName' },
                // { title: 'Email', field: 'email'},
                // { title: 'Puesto', field: 'jobTitle' },
                // { title: 'Organización', field: 'organization' },
                // { title: 'Qué oportunidades aporta este evento a su empresa / institución', field: 'Q1', thClass: 'narrow-column' },
                // { title: 'Cuáles de las tecnologías que se mostraron en este evento son necesarias implementar en su empresa / institución', field: 'Q2', thClass: 'narrow-column' },
                // { title: 'Me interesa que NC Tech apoye a mi empresa / institución en la implementación de estas tecnologías, y quiero que me contacten en:', field: 'Q3', thClass: 'narrow-column' },
                // { title: 'Qué impacto puede tener este evento en su empresa / institución', field: 'Q4', thClass: 'narrow-column' },
                // { title: 'Impacto en el sector automotriz', field: 'Q51', thClass: 'narrow-column' },
                // { title: 'Calidad de las ponencias(Conferencia)', field: 'Q52', thClass: 'narrow-column' },
                // { title: 'Calidad de las Experiencias', field: 'Q53', thClass: 'narrow-column' },
                // { title: 'Networking', field: 'Q54' },
                // { title: 'Organizacion y logistica', field: 'Q55'},
                // { title: 'Alimentos y bebidas', field: 'Q56' },
                // { title: 'Lugar', field: 'Q57' },
                // { title: 'Horario', field: 'Q58' },
                // { title: 'Comentarios y/o sugerencias', field: 'Q6' },
                { title: 'Acciones', tdComp: 'tdOpt', visible: 'true' }
            ],
            data: [], // no data
            total: 0,
            query: amINestedComp ? { uid: this.row.results } : {},
            "tbl-class" : "table is-fullwidth is-transparent",
            HeaderSettings: false,
            supportNested: 'accordion',
            xprops: {
                eventbus: new Vue()
            }
        }
    },
    props: ['row'],
    watch: {
        query: {
            handler () {
                this.handleQueryChange()
            },
            deep: true
        }
    },
    methods : {
        handleQueryChange() {
            var vm = this;
            axios.get('/admin/survey/users-results')
                .then(function( response ) {
                    vm.data = response.data;
                });
        },
    }
};
</script>
