<template>
    <div class="-nested-dsp-row-comp">

        <button class="button is-small is-danger -nested-dsp-row-close-btn" @click="nested.$toggle(false)">
            <i class="fas fa-times fa-lg"></i>
        </button>

        <div class="" v-if="row.results.length == 0">
            No ha respondido la encuesta.
        </div>

        <table class="table is-transparent is-fullwidth is-narrow" v-if="row.results.length > 0" v-for="encuesta in row.results">
            <tr>
                <th>Pregunta</th>
                <th>Respuesta</th>
            </tr>
            <tr v-for="(answer, question, index) in encuesta">
                <td style="width: 50%; padding: .25em 1em .25em .5em;">{{ question }}</td>
                <td style="">{{ answer }}</td>
            </tr>
        </table>

    </div>
</template>

<script>
    export default {
        name: 'nestedDisplayRow',
        props: ['row', 'nested'],
        mounted() {
          //do something after mounting vue instance
          // console.log(this.props);
        }
    }
</script>

<style>
    .-nested-dsp-row-comp {
        position: relative;
        padding: 10px;
    }
    .-nested-dsp-row-close-btn {
        position: absolute;
        top: 5px;
        right: 5px;
    }
</style>
