<template>
    <div class="btn-group btn-group-sm">
        <!-- <button class="btn btn-default" title="Display row"
            :class="{ '-nested-comp-open-btn': isDisplayRowVisible }"
            @click="toggleNestedComp('nestedDisplayRow')">
            <i class="fa fa-list-ul"></i>
        </button> -->

        <button class="button is-light is-small" title="Display results"
            :class="{ '-nested-comp-open-btn': isDisplayRowVisible }"
            @click="toggleNestedComp('nestedDisplayRow')">
            <i class="fas fa-list-ul"></i>
        </button>

        <!-- <button class="btn btn-default" title="Friends"
            :class="{ '-nested-comp-open-btn': isResultsTableVisible }"
            @click="toggleNestedComp('dataTableResults')">
            <i class="fa fa-users"></i> {{ row.results.length }}
        </button> -->

    </div>
</template>

<script>
export default {
    name: 'tdOpt',
    props: ['row', 'nested'],
    mounted () {
        // $(this.$el).find('button[title]').tooltip();
    },
    computed: {
        isDisplayRowVisible () {
            if (this.nested.comp !== 'nestedDisplayRow') return;
            return this.nested.visible;
        },
        // isResultsTableVisible () {
        //     if (this.nested.comp !== 'dataTableResults') return;
        //     return this.nested.visible;
        // }
    },
    methods: {
        toggleNestedComp (comp) {
            const { nested } = this;
            console.log(nested);
            if (nested.comp === comp) return nested.$toggle();
            nested.$toggle(comp, true);
        }
    }
}
</script>

<style>
    .-nested-comp-open-btn {
        color: #fff !important;
        background-color: #337ab7 !important;
    }
</style>
