.divider {
    height: 20px;
    background-color: #dbdbdb;
}

.is-nc {
    background-color: #f98d34;
    color: #FFFFFF;
    border-color: #f47c1a;
}

.is-nc:hover {
    border-color: #ea7312;
    background-color: #E8822E;
    color: #FFFFFF;
}

/* NC menu */
.menu-list a.is-active {
    background-color: #f47c1a;
    color: #ffffff;
}

.menu-list li ul {
    margin: 0px;
}

/* NC RADIOS */

.is-checkradio[type=radio].is-nc:checked+label::after, .is-checkradio[type=radio].is-nc:checked+label:after {
    border-color: #f47c1a !important;
    background-color: #f47c1a !important;
}

.is-checkradio[type=radio].is-nc+label::after, .is-checkradio[type=radio].is-nc+label:after {
    background-color: #f47c1a !important;
}

.is-checkradio[type=checkbox].is-nc:checked+label:hover::before, .is-checkradio[type=checkbox].is-nc:checked+label:hover:before, .is-checkradio[type=radio].is-nc:checked+label:hover::before, .is-checkradio[type=radio].is-nc:checked+label:hover:before {
    border-color: #f47c1a !important;
}

.is-checkradio[type=checkbox].is-nc+label:hover::before, .is-checkradio[type=checkbox].is-nc+label:hover:before, .is-checkradio[type=radio].is-nc+label:hover::before, .is-checkradio[type=radio].is-nc+label:hover:before {
    border-color: #f47c1a !important;
}

.is-checkradio[type=checkbox].is-nc:hover:not([disabled])+label::before, .is-checkradio[type=checkbox].is-nc:hover:not([disabled])+label:before, .is-checkradio[type=radio].is-nc:hover:not([disabled])+label::before, .is-checkradio[type=radio].is-nc:hover:not([disabled])+label:before {
    border-color: #f47c1a !important;
}}

.is-checkradio[type=checkbox].is-nc:checked+label::before, .is-checkradio[type=checkbox].is-nc:checked+label:before, .is-checkradio[type=radio].is-nc:checked+label::before, .is-checkradio[type=radio].is-nc:checked+label:before {
    border: .1rem solid #f47c1a !important;
}

.is-checkradio[type=checkbox].is-nc:checked+label::before, .is-checkradio[type=checkbox].is-nc:checked+label:before, .is-checkradio[type=radio].is-nc:checked+label::before, .is-checkradio[type=radio].is-nc:checked+label:before {
    border: .1rem solid #f47c1a;
}

/* NC buttons */
.button.is-nc.is-outlined {
    background-color: transparent;
    border-color: #f47c1a;
    color: #f47c1a;
}

.button.is-nc.is-outlined:focus, .button.is-nc.is-outlined:hover {
    background-color: #f47c1a;
    border-color: #f47c1a;
    color: #fff;
}

.button.is-nc.is-focused, .button.is-nc:focus {
    color: #ffffff;
    border-color: #ff9f29;
}

.calendar-nav .button.is-text.is-focused, .calendar-nav .button.is-text.is-hovered,
.calendar-nav .button.is-text:focus, .calendar-nav .button.is-text:hover {
    background-color: #e26600;
}

/* NC TEXT */
.has-text-nc {
    color: #f98d34;
}

/* NC CALENDAR */
div.datepicker .calendar .calendar-nav {
    background: #f47c1a;
}

div.datepicker .calendar .calendar-date .date-item.is-today {
    border-color: #f47c1a;
    color: #f47c1a;
}

div.datepicker .calendar .calendar-date .date-item:hover {
    /* #ffe1bb */
    background: #f5f5f5;
    border-color: #f5f5f5;
    color: rgba(0,0,0,.7);
    text-decoration: none;
}

div.datepicker .calendar .calendar-range::before {
    background: #ffe1bb;
}

div.datepicker .calendar .calendar-range .date-item {
    color: #f47c1a;
}

div.datepicker .calendar .calendar-date .date-item.is-active {
    background: #f47c1a;
    border-color: #f47c1a;
}

/* NC FILE SELECTOR */
.file.is-nc-file .file-cta {
    background-color: #f47c1a;
    border-color: transparent;
    color: #fff;
}

.file.is-nc-file.is-hovered .file-cta, .file.is-nc-file:hover .file-cta {
    background-color: #f7740a;
    border-color: transparent;
    color: #fff;
}


/* PAGINATOR */
.pagination-link.is-current {
    background-color: #f47c1a;
    border-color: #f47c1a;
}

/* MODALS */
.tick-modal {
    max-width: 80%;
}
@media screen and (min-width: 769px){
    .tick-modal {
        max-width: 50%;
    }
}

@media screen and (min-width: 1024px){
    .tick-modal {
        max-width: 30%;
    }
}

/* TABLES */
.table.is-transparent {
    background: transparent;
}
